In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4,5])

In [4]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
data = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [8]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
data['c']

3

In [10]:
data = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))

In [11]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [13]:
series_1 = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))

In [14]:
series_2 = pd.Series(dict(a=11,b=12,c=13,d=14,e=15))

In [15]:
df = pd.DataFrame({'column_1':series_1,'column_2':series_2})

In [16]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [17]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [20]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [21]:
df['a']

KeyError: 'a'

In [22]:
df['column_1']['a']

1

In [23]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [25]:
df['column_2']['c']

13

In [26]:
df.at['a','column_1']

1

In [27]:
df.at['b','column_2']=100

In [28]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4        14
e         5        15

In [29]:
df.iat[2,0]

3

In [30]:
df.iat[3,1] = 1000

In [31]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4      1000
e         5        15

In [32]:
df.loc['b':'d','column_1']

b    2
c    3
d    4
Name: column_1, dtype: int64

In [33]:
df.loc['d':'e', 'column_1':'column_2'] = [[0.1, 0.2], [0.3, 0.4]]

In [34]:
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c       3.0      13.0
d       0.1       0.2
e       0.3       0.4

In [35]:
df.iloc[[1,3], [0, 1]]

   column_1  column_2
b       2.0     100.0
d       0.1       0.2

In [36]:
df.iloc[[2,4],[0,1]] = [[1001,1002],[1003,1004]]

In [37]:
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0